/* Basic HTML styles */
h1 {
    margin: 30px;
}

#page_summary {
    margin: 15px;
}

/* Form styles */
#form_main_row {
    margin-bottom: 20px;
}
#emp_card_body {
    margin: 15px;
}

/* Button styles */
#reset_btn {
    float: right;
    margin-bottom: 5px;
}

#emp_dropdown {
    margin: 15px;
}
